body {
  background-color: #fdf6e3;
  font-family: "Arial", sans-serif;
  color: #333;
  text-align: center;
  padding: 20px;
}

.cat-facts-container {
  width: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  max-width: 400px;
  margin: 0 auto;
}
.cat-fact {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.button {
  background-color: #ffd580;
  color: #4a4a4a;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ffc107;
}
